[submodule "deps/tinyply"]
	path = deps/tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "deps/zlib-minimal"]
	path = deps/zlib-minimal
	url = https://github.com/gabrielcuvillier/zlib-minimal.git
[submodule "deps/libpng-minimal"]
	path = deps/libpng-minimal
	url = https://github.com/gabrielcuvillier/libpng-minimal
[submodule "deps/libjpeg-minimal"]
	path = deps/libjpeg-minimal
	url = https://github.com/gabrielcuvillier/libjpeg-minimal.git
[submodule "deps/freetype-minimal"]
	path = deps/freetype-minimal
	url = https://github.com/gabrielcuvillier/freetype-minimal.git
