[submodule "deps/zlib-minimal"]
	path = deps/zlib-minimal
	url = https://github.com/gabrielcuvillier/zlib-minimal.git
[submodule "deps/libpng-minimal"]
	path = deps/libpng-minimal
	url = https://github.com/gabrielcuvillier/libpng-minimal
[submodule "deps/freetype-minimal"]
	path = deps/freetype-minimal
	url = https://github.com/gabrielcuvillier/freetype-minimal.git
[submodule "deps/libjpeg-minimal"]
	path = deps/libjpeg-minimal
	url = https://github.com/gabrielcuvillier/libjpeg-minimal.git
[submodule "deps/freeimage-minimal"]
	path = deps/freeimage-minimal
	url = https://github.com/gabrielcuvillier/freeimage-minimal.git
[submodule "deps/tinyply-minimal"]
	path = deps/tinyply-minimal
	url = https://github.com/gabrielcuvillier/tinyply-minimal.git
[submodule "deps/rapidjson-minimal"]
	path = deps/rapidjson-minimal
	url = https://github.com/gabrielcuvillier/rapidjson-minimal.git
